html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  background: url("title.png") no-repeat fixed center;
  background-size: cover;
}
.starter-template {
  padding: 10px 15px;
  text-align: center;
}
#submitButton{

    display: block;
    text-align: center;
    width: 76;
    margin: 0 auto;
}


#skills, #xp {
margin: 0 auto;
width: 540px;
border-collapse: collapse;
}
#skills strong {
display: block;
text-align: center;
}
#skills a {
display: block;
text-decoration: none;
}
#skills td {
vertical-align: top;
width: 150px;
}
#skills img {
vertical-align: middle;
padding-right: 5px;
}
#xp td, #xp th {
border: 1px solid #000;
text-align: center;
}
.boxtop,.boxed,.tabletop,.navigation h3 {
	background-color:#005474;
	color:#fff;
}
.tablebottom,.header,.content,.quote,.boxbottom,.navigation ul {
	background-color:#B3B8BA;
}

.tbl {
	border-collapse:collapse;
	width:65%;
	border:1px solid #000;
  color: #FFFFFF;
  font-weight: bold;
  margin: auto;
  padding: 20px;

}
.tbl th,.tbl td {
	border:0;
	border-top:1px solid #000;
	padding:0;
	text-align:center;
}
.tbl th {
	padding:2px 4px;
}
.iimg {
	border:1px solid #000;
	border-width:0 1px;
	width:30px;
	height:30px;
}
i{
  visibility: hidden;
}
#returnHome{
  position: fixed;
  right:20px;
  top:20px;

}
