html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  background: url("title.png") no-repeat fixed center;
  background-size: cover;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.dateView{
  text-align: center;
  padding: 40px 15px;
}

#logOut{
  position:fixed;
  right:10px;
  top:0px;

}

#home{
  position: absolute;
  left: 10px;
}
#viewer{
  position: relative;
  left: 40px;
}
#previousButton{
  margin-right: 300px;

}
#nextButton{

  left: 150px;



}

#textReport{
  padding-bottom: 500px;

  display: block;

  margin: 0 auto;

  width: 60em;
  margin-top: 100px;

  text-align: justify;

  -moz-text-align-last: center;
   text-align-last: center;
}
#dateText{
margin-top: -105px;



}
